---
permalink: "browse/new/rss"
layout: false
eleventyExcludeFromCollections: true
eleventyAllowMissingExtension: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>Newest Sublime Text Packages</title>
    <description>The 25 newest additions to the default Package Control channel</description>
    <language>en-us</language>
    <copyright>Copyright {{ built.year }}, the packagecontrol gang</copyright>
    <link>{{ site.baseUrl }}</link>
{% for pkg in collections.newest_packages_feed %}
    <item>
      <title>{{ pkg.name }}</title>
      <author>{{ pkg.author | join(', ') }}</author>
      <description>{{ pkg.description | default('') | escape }}</description>
      <pubDate>{{ pkg.first_seen }}</pubDate>
      <link>{{ site.baseUrl }}/packages/{{ pkg.name | urlencode }}</link>
      <guid>{{ pkg.guid }}</guid>
    </item>
{% endfor %}
  </channel>
</rss>
