# python
__pycache__/
*.py[co]

# sublime text
.sublime/
*.sublime-project
*.sublime-workspace

# data files
.pypi-cache/
channel*.json
libraries-metadb.json
libraries.json
logs.json
prev_totals.json
stats.json
registry.json
repository.json
workspace.json
wrk/
