---
layout: layout.njk
date: Last Modified
---

{% import "packages/macros.njk" as pack %}

<h1>Packages</h1>

<ul class="grid">
  {% for pkg in collections.packages | slice(0, 20) %}
    <li>
      {{ pack.card(
          pkg.name,
          pkg.author,
          [["windows","linux","osx","*"] | random],
          pkg.labels
      ) }}
    </li>
  {% endfor %}
</ul>
