---
layout: layout.njk
date: Last Modified
---

{% import "packages/macros.njk" as pack %}
{% import "_includes/search_form.njk" as search_ui %}

{{ search_ui.form(true) }}

<section name="newest">
  <h2>Newest</h2>
  <ul class="grid">
    {% for pkg in collections.newest_packages %}
      <li>
        {{ pack.card(pkg) }}
      </li>
    {% endfor %}
  </ul>
</section>

<section name="recent">
  <h2>Recently updated</h2>
  <ul class="grid">
    {% for pkg in collections.updated_packages %}
      <li>
        {{ pack.card(pkg) }}
      </li>
    {% endfor %}
  </ul>
</section>

<section name="result" style="display:none;">
  <h2 id="result-header">Results</h2>
  <ul class="grid"></ul>
</section>

{% import "packages/macros.njk" as pack %}
<template id="package-card">
  {{ pack.card({
    "name": "placeholder-name",
    "description": "placeholder-description",
    "author": "placeholder-author",
    "stars": 666,
    "installed": 999,
    "archived_at": "1970-01-01 00:00:00",
    "platforms": ["foo"],
    "labels": ["foo"],
    "permalink": "placeholder-permalink"
  }) }}
</template>

<script src="{{ '/static/index.js' | bust }}" type="module" async></script>
