---
title: Labels in Package Control R
layout: layout.njk
date: Last Modified
---

<form name="search">
  <h1>Labels</h1>

  <div class="search-controls">
    <label for="search-field" class="screenreader-only">Search</label>
    <input type="search" autocomplete="off" name="lib" id="search-field" placeholder="Search {{ collections.labels | length }} labels …">
  </div>
</form>

<section name="labels">
  <h2 data-list-target="heading">List</h2>
  <ul class="button-group">
    {% for item in collections.labels %}
      <li>
        {% set q = 'label:"' ~ item.key ~ '"' %}
        <a data-name="{{ item.key }}" class="button label" href="/?q={{ q | urlencode }}">
          {{ item.key }}
          <span class="count">{{ item.count }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<script src="{{ '/static/labels.js' | bust }}" type="module" async></script>
