---
title: Libraries in Package Control R
layout: layout.njk
date: Last Modified
---

{% import "packages/macros.njk" as util %}
{% import "util/macros.njk" as shared %}

{% macro lib(pkg, mark_as_main=false) %}
  <div class="card"
    data-name="{{ pkg.name | escape }}"
    data-author="{{ pkg.author | escape }}"
    data-description="{{ pkg.description | escape }}">

    <h3>
      <a {{ "id=main-content" if mark_as_main }} href="{{ pkg.homepage }}">
        {{ pkg.name }}
      </a>
    </h3>

    <p>by {% for author in pkg.author -%}
      {{ author }}{{ ", " if not loop.last }}
    {%- endfor %}</p>

    <p class="description">
      {{- pkg.description -}}
    </p>

    <ul class="button-group labels">
      <li class="shield">
        <img height="24" alt="Latest Python Package Index tag" src="{{ 'https://img.shields.io/pypi/v/' ~ pkg.name | replace('python-', '') ~ '.svg' }}">
      </li>
      {% if pkg.path %}
        <li class="shield">
          <img height="24" alt="Latest GitHub tag" src="{{ 'https://img.shields.io/github/tag/' ~ pkg.path ~ '.svg' }}">
        </li>
      {% endif %}
      {% for platform in pkg.platforms %}
        {% set q = util.searchQueryFor('platform', platform) %}
        <li>
          <a class="button platform platform-{{ platform }}" href="/libraries/?q={{ q }}">
            {{ platform }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

<form name="search" role="search" aria-label="Library search">
  <h1>Libraries</h1>

  <div class="search-controls">
    <label for="search-field" class="screenreader-only">Search</label>
    <input type="search" autocomplete="off" name="q" id="search-field" placeholder="Search {{ collections.libraries | length }} libraries…">
    <button class="clear-btn" type="button" aria-label="Clear search" tabindex="-1" onclick="const input=document.getElementById('search-field'); input.value=''; input.dispatchEvent(new Event('input', { bubbles: true })); input.focus();">
      {{ shared.icon('x-circle-fill') }}
    </button>
  </div>
</form>

<section name="libraries">
  <h2 data-list-target="counter">List</h2>
  <ul class="list">
    {% for item in collections.libraries %}
      <li>
        {{ lib(item, loop.index0 == 0) }}
      </li>
    {% endfor %}
  </ul>
</section>

<script src="{{ '/static/libs.js' | bust }}" type="module" async></script>
