---
permalink: "/search/index.json"
---
{% import "packages/macros.njk" as pack %}
{
  "packages": [
{% for pkg in collections.searchable_packages -%}
  {
    "name": "{{ pkg.name }}",
    "description": "{{ pkg.description | default('') | nl2br | replace('\n', '') }}",
    "author": "{{ pkg.author | join(',') }}",
    "stars": "{{ pkg.stars }}",
    "installed": "{{ pkg.installed }}",
    "first_seen": "{{ pkg.first_seen | timestamp }}",
    "created_at": "{{ pkg.created_at | timestamp }}",
    "last_modified": "{{ pkg.last_modified | timestamp }}",
    "magic_score": {{ pkg.magic_score | default(0) }},
    "magic": {
      "popularity": {{ pkg.magic.popularity | default(0) }},
      "stars": {{ pkg.magic.stars | default(0) }},
      "freshness": {{ pkg.magic.freshness | default(0) }},
      "longevity": {{ pkg.magic.longevity | default(0) }},
      "recency": {{ pkg.magic.recency | default(0) }},
      "penalty": {{ pkg.magic.penalty | default(0) }}
    },
    {%- if pkg.outdated -%}
      "outdated": true,
    {%- endif -%}
    {%- if pkg.st3_only -%}
      "st3_only": true,
    {%- endif -%}
    {%- if pkg.removed -%}
      "removed": "{{ pkg.removed | timestamp }}",
    {%- elif pkg.archived_at -%}
      "archived_at": "{{ pkg.archived_at | timestamp }}",
    {%- endif %}
    "platforms": "{{ pkg.platforms | default([]) | join(",") }}",
    "platform_statement": "{{ pkg.platform_statement | default('') }}",
    "labels": "{{ pkg.labels | default([]) | join(",") | safe }}",
    "permalink": "/packages/{{ pkg.name | urlencode }}"
  }{{ "," if not loop.last }}
{%- endfor %}
  ],
  "label_icon_aliases": {{ "" | label_icon_aliases_json | safe }},
  "label_icon_tints": {{ "" | label_icon_tints_json | safe }}
}
