---
permalink: "/search/index.json"
---
{% import "packages/macros.njk" as pack %}
[
{% for pkg in collections.searchable_packages -%}
  {
    "name": "{{ pkg.name }}",
    "description": "{{ pkg.description | default('') | nl2br | replace('\n', '') }}",
    "author": "{{ pkg.author | join(',') }}",
    "stars": "{{ pkg.stars }}",
    "installed": "{{ pkg.installed }}",
    "first_seen": "{{ pkg.first_seen | timestamp }}",
    "created_at": "{{ pkg.created_at | timestamp }}",
    "last_modified": "{{ pkg.last_modified | timestamp }}",
    {%- if pkg.doa -%}
      "doa": true,
    {%- elif pkg.removed -%}
      "removed": "{{ pkg.removed | timestamp }}",
    {%- elif pkg.archived_at -%}
      "archived_at": "{{ pkg.archived_at | timestamp }}",
    {%- endif %}
    "platforms": "{{ pkg.platforms | default([]) | join(",") }}",
    "labels": "{{ pkg.labels | default([]) | join(",") }}",
    "permalink": "/packages/{{ pkg.name | urlencode }}"
  }{{ "," if not loop.last }}
{%- endfor %}
]
