{% import "packages/macros.njk" as pack %}

<footer>
  <img src="/static/logo.webp" width="80" height="80" alt="Package Control R logo">
  <h2>Package Control</h2>

  <p>
    Package Control is the community-driven package management solution for Sublime Text.
    <br>
    Dates and times are in UTC.
    <br>
    &copy; {{ page.date.getFullYear() }} — Built: {{ page.date.toISOString().slice(0,16).replace('T', ' ') }}
  </p>

  <nav>
    <a href="https://github.com/wbond/package_control_channel?tab=readme-ov-file#package-control-default-channel">Submitting packages</a>
    <a href="https://packagecontrol.io/docs/usage">Using package control</a>
    <a href="https://github.com/packagecontrol/thecrawl/tree/gh-pages">This website on GitHub</a>
  </nav>

  <button id="theme-toggle" aria-label="Toggle color scheme">
    <div class="icon">
      <span class="light" aria-label="light">{{ pack.logo('sun') }}</span>
      <span class="dark" aria-label="dark">{{ pack.logo('moon') }}</span>
    </div>
  </button>
</footer>
