{% import "util/macros.njk" as util %}

<header>
  {% if not isPackagePage %}
  <a href="#main-content" class="skip-link">Skip to main content</a>
  {% endif %}

  <div class="left-side">
    {% set tag = 'h1' if page.url == '/' else 'p' %}
    <{{ tag }} class="brand">
      <a href="/">
        Package Control <span class="hot">R</span>
      </a>
    </{{ tag }}>

    <p class="tagline">The Sublime Text package directory, {{ [
        "re-imagined",
        "reassembled",
        "rebooted",
        "reborn",
        "recompiled",
        "refactored",
        "reinvigorated",
        "remastered",
        "replenished",
        "restarted",
        "resurrected",
        "revisited",
        "rewired"
      ] | random
    }}.</p>
  </div>

  <div class="right-side">
    {% if isPackagePage %}
      {{ util.form(collections.packages | length, false) }}
    {% endif %}

    <nav>
      {% if isPackagePage %}
        <a href="/#search-field">
          {{ util.icon('search') }}
          <span class="screenreader-only">Search</span>
        </a>
      {% endif %}

      <a href="/about">About</a>
    </nav>
  </div>

</header>
