<header>
  <nav>
    <a href="https://github.com/wbond/package_control_channel?tab=readme-ov-file#package-control-default-channel">Submitting packages</a>
    <a href="https://packagecontrol.io/docs/usage">Using package control</a>
    <a href="/libraries/">Libraries</a>
  </nav>

  <h2><a href="/">Package Control <span class="hot">R</span></a></h2>
  <p>The Sublime Text package directory, {{ [
      "re-imagined",
      "reinvigorated",
      "refactored",
      "ressurected",
      "recompiled",
      "rebooted",
      "rewired",
      "reassembled"
    ] | random
  }}.</p>
</header>
