<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or 'thecrawl' }}</title>
  <meta name="description" content="{{ description or "The nucleus of Sublime's Package Control." }}">

  <script>
    (() => {
      const dark = window.matchMedia('(prefers-color-scheme: dark)').matches
      document.documentElement.dataset.theme = dark ? 'dark' : 'light'
    })()
  </script>
  <link rel="preload" href="{{ '/static/fonts/inter-display-latin.woff2' | site_url }}" as="font" type="font/woff2" crossorigin>
  {% if page_type == 'status' %}
    <link rel="preload" href="{{ '/static/fonts/lato-400-latin.woff2' | site_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/static/fonts/lato-700-latin.woff2' | site_url }}" as="font" type="font/woff2" crossorigin>
  {% endif %}
  <link rel="stylesheet" href="{{ '/static/styles.css' | site_url }}">
  <link rel="icon" href="{{ '/static/assets/favicon.ico' | site_url }}" sizes="32x32">
  <link rel="icon" href="{{ '/static/assets/favicon.svg' | site_url }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ '/static/assets/apple-touch-icon.png' | site_url }}">
</head>
