<!DOCTYPE html>
<html lang="en"{% if page_type %} class="page-{{ page_type }}"{% endif %}>
  {% include "head.njk" %}

  <body>
    {% include "header.njk" %}
    {% include "templates.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script src="{{ '/static/theme.js' | bust }}" type="module"></script>
    <script src="{{ '/static/keys.js' | bust }}" type="module" async></script>
  </body>
</html>
