<!DOCTYPE html>
<html lang="en" class="{{ (title or 'home') | slugify }}">
  {% include "head.njk" %}

  <body>
    {% include "header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    {% include "templates.njk" %}

    <script src="{{ '/static/theme.js' | bust }}" type="module"></script>
    <script src="{{ '/static/keys.js' | bust }}" type="module" async></script>
  </body>
</html>
