{# handle color scheme without delay #}
<script>
  (function(){
    const system_theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    const user_pref = localStorage.getItem('theme');
    document.documentElement.setAttribute('data-theme', user_pref ?? system_theme);
  })();
</script>

{# while initializing search, hide package listings,
   and change the h1 to indicate this state #}
<script>
  (function(){
    const q = new URLSearchParams(location.search).get('q');
    if (!q) {
      return;
    };

    const setContent = () => {
      // set temporary content that will be replaced after search completes
      document.querySelector('[name=q]').value = q;
      document.querySelector('h1').innerText = 'Searching…';
    }

    const timer = window.setTimeout(() => {
      // if loading takes long reveal h1 to explain the state to the user
      document.querySelector('h1').style.visibility = 'revert';
    }, 600);

    window.addEventListener('DOMContentLoaded', setContent);

    const root = document.documentElement;
    root.classList.add('initializing');
    root.addEventListener('search-is-ready', () => {
      // we're done initializing, return back to normal
      root.classList.remove('initializing');
      window.removeEventListener('DOMContentLoaded', setContent);
      window.clearTimeout(timer);
    });

  })();
</script>
