<section data-list-target="search-results" style="display:none;">

  <div class="search-results-header">
    {% if isPackagePage %}
      <h1 data-list-target="counter">Results</h1>
    {% else %}
      <h2 data-list-target="counter">Results</h2>
    {% endif %}
    <span class="pager-page-indicator" data-list-target="page" hidden></span>
    <span class="pager-range-indicator" data-list-target="range"></span>
  </div>

  {% if isPackagePage %}
    <h2 class="screenreader-only">Packages</h2>
  {% endif %}

  <ul class="list" data-list-target="list"></ul>
</section>

<script src="{{ '/static/package-search.js' | bust }}" type="module" async></script>

{% if isPackagePage %}
  <script src="{{ '/static/compact_search.js' | bust }}" type="module" async></script>
{% endif %}
