<section name="result" style="display:none;">
  {% if isPackagePage %}
    <h1>Results</h1>
    <h2 class="screenreader-only">Packages</h2>
  {% else %}
    <h2>Results</h2>
  {% endif %}
  <ul class="grid"></ul>
</section>
