{% import "util/macros.njk" as util %}

<nav class="site-nav" aria-label="Site navigation">
  <div class="site-nav-links">
    <a href="/about">About</a>
    <a href="https://docs.sublimetext.io/guide/package-control/usage.html">Using Package Control</a>
    <a href="https://docs.sublimetext.io/guide/package-control/submitting.html">Submit your package</a>
  </div>
  <div class="site-nav-meta">
    <a href="/status">Status</a>
    <a class="site-nav-github" href="https://github.com/packagecontrol/thecrawl/tree/gh-pages" aria-label="View source on GitHub">
      {{ util.icon('octocat') }}
    </a>
  </div>
</nav>
