{% import "packages/macros.njk" as pack %}
{% import "util/macros.njk" as util %}

{# templates used by JS to render cards #}
{% set placeholder_pkg = {
  "name": "placeholder-name",
  "description": "placeholder-description",
  "author": ["placeholder-author"],
  "stars": 666,
  "installs_total": 999,
  "archived_at": "1970-01-01 00:00:00",
  "platforms": [],
  "platform_statement": "placeholder-platform",
  "labels": ["foo"],
  "permalink": "placeholder-permalink"
} %}

{% if page_type == 'home' %}
  <template id="package-card-compact">{{ pack.compact_card(placeholder_pkg) }}</template>
{% endif %}

<template id="package-card-result">{{ pack.search_result_card(placeholder_pkg) }}</template>

<template id="clipboard-button">
  <button class="button clipboard-button" title="Copy to clipboard" aria-label="Copy to clipboard">
    <span class="icon">{{ util.icon('copy') }}</span>
    <span class="icon check">{{ util.icon('check') }}</span>
  </button>
</template>

<template id="message">
  <div class="inline-message" role="status" aria-live="polite" aria-hidden="true"></div>
</template>
