footer {
  margin: 3.2rem 1rem 1.6rem 1rem;
  text-align: center;

  p,
  nav {
    color: var(--foreground-lighter);
  }

  * {
    margin: 0;
    padding: 0;
  }

  nav {
    line-height: 52px;
    * + * {
      margin-left: 1ex;
    }
  }
}
