footer {
  margin: 2.4rem 1rem 1.6rem 1rem;
  text-align: center;
  color: var(--foreground-grey);

  * {
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--foreground);
  }

  nav {
    line-height: 52px;
    * + * {
      margin-left: 1ex;
    }

    a {
      color: var(--foreground-lighter);

      &:hover {
        color: var(--secondary-accent);
        text-decoration: none;
      }
    }
  }
}
