.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
  li {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.card {
  border-bottom: 2px solid var(--background-darker);
  padding: 1rem 0;
  position: relative;

  &:has(a:hover),
  &:has(a:focus) {
    border-color: var(--secondary-accent);
  }

  a {
    color: var(--foreground);
    &:hover {
      text-decoration: none;
      color: var(--foreground-darker);
    }
  }

  h2 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 1;

    + * {
      margin-top: 0;
    }
  }

  dl {
    position: absolute;
    top: 1rem;
    right: 1rem;
    dt {
      display: none;
    }
  }

  .labels {
    display: flex;
    font-size: calc(1rem / 1.6);
    justify-content: flex-end;
    gap: 1ex;
    padding-right: 1rem;
    li {
      display: block;
      padding: .3em .6em;
      border-radius: 3px;
      background: var(--background-darker);
      &.platform {
        background: var(--primary-accent);
        color: var(--background);
      }
      &.platform-windows {
        background: var(--secondary-accent);
      }
      &.platform-linux {
        background: var(--tertiary-accent);
      }
    }
  }
}
