header {
  margin-bottom: 1.6rem;
  padding: 1rem;
  color: var(--foreground-grey);

  * {
    margin: 0;
    padding: 0;
  }

  .hot {
    color: var(--primary-accent);
    font-style: italic;
  }

  a {
    color: var(--foreground);
  }

  nav {
    float: right;
    line-height: 52px;
    * + * {
      margin-left: 1ex;
    }

    a {
      color: var(--foreground-lighter);
      &:hover {
        color: var(--secondary-accent);
      }
    }
  }
}
