@import url('style/typography.css');
@import url('style/colors.css');
@import url('style/buttons.css');
@import url('style/header.css');
@import url('style/footer.css');
@import url('style/grid.css');
@import url('style/pagination.css');
@import url('style/search.css');
@import url('style/libraries.css');

html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

main {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem 3.2rem 1rem;
}

a {
  color: var(--primary-accent-darker);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

svg {
  fill: currentColor;
}

section {
  padding-top: 14px;

  h2 {
    color: var(--foreground-lighter);
  }
}

.screenreader-only {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -999px;
    left: -999px;
    overflow:hidden
}

.description {
  font-size: 25px;
  line-height: 44px;
  padding-top: 14px;
  margin-bottom: 8px;
  font-style: italic;

  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }
}
.release {
  font-weight: bold;
}
.requirement {
  color: var(--foreground-lighter);
}

dl {
  display: flex;
  gap: 3px;
  align-content: center;
  align-items: center;
  line-height: 1;
  color: var(--foreground-lighter);
  > * {
    display: flex;
    margin: 0;
  }
}

.labels {
  a {
    &.platform {
      background: var(--secondary-accent);
      color: var(--background);
      &:hover {
        color: var(--label-highlight);
      }
    }
    &.platform-windows {
      background: var(--primary-accent);
    }
    &.platform-linux {
      background: var(--tertiary-accent);
    }
  }
}
