@import url('typography.css');
@import url('colors.css');
@import url('header.css');
@import url('footer.css');
@import url('grid.css');

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary-accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  max-width: 72rem;
  margin: 0 auto;
}
