/* utility classes for consistent buttons */
.button-group {
  display: flex;
  gap: 1ex;
  padding-left: 0;
  margin-bottom: 21px;
  flex-wrap: wrap;
  list-style: none;

  li {
    display: block;
    margin: 0;
    padding: 0;
  }

  li.shield {
    display: flex;
  }
}

.button {
  all: unset;
  appearance: none;
  display: flex;
  align-items: center;
  gap: 1ex;
  margin: 0;
  padding: 3px 8px;
  border-radius: 3px;
  background: var(--background-3);
  color: var(--foreground-2);
  white-space: nowrap;
  line-height: 1.6;
  cursor: pointer;
  transition: color 0.2s ease-in-out, outline .2s ease-in-out;

  &:hover {
    background: var(--background-4);
    text-decoration: none;
  }

  &:focus {
    outline: 2px solid var(--orange-1);
  }
}

span.button {
  cursor: revert;
  &:hover {
    background: var(--background-3);
  }
}

p > .button {
  display: inline-flex;
}
