/* utility classes for consistent buttons */
.button-group {
  display: flex;
  gap: 7px;
  padding-left: 0;
  line-height: 28px;
  padding-top: 3px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  list-style: none;

  li {
    display: block;
    margin: 0;
    padding: 0;
  }

  li.shield {
    display: flex;
  }
}

.button {
  all: unset;
  appearance: none;
  display: flex;
  align-items: center;
  gap: 1ex;
  margin: 0;
  padding: 3px 8px;
  line-height: 22px;
  border-radius: 3px;
  background: var(--background-3);
  color: var(--foreground-2);
  white-space: nowrap;
  cursor: pointer;
  outline-color: transparent;
  transition: color .1s ease-in-out, outline .1s ease-in-out, background .1s;

  &:hover {
    background: var(--background-4);
    text-decoration: none;
  }

  &.is-active {
    background: var(--background-4);
    box-shadow: inset 2px 2px 3px rgb(0 0 0 / 0.15);
    &:hover {
      background: var(--background-3);
    }

    :root[data-theme='dark'] & {
      box-shadow: inset 2px 2px 3px rgb(0 0 0 / 0.25);
      background: var(--background-3);
      &:hover {
        background: var(--background-4);
      }
    }
  }

  &:focus-visible {
    outline: 2px solid var(--orange-1);
  }

  &:disabled {
    opacity: .4;
    cursor: revert;
  }

  .count {
    font-size: 14px;
    color: var(--foreground-4);
  }
  &:has(.count) {
    align-items: baseline;
  }

  &.label-more,
  &.label-more:hover {
    padding-left: 0;
    padding-right: 0;
    background: none;
    @media (width < 732px) {
      padding-left: 6px;   /* these 6px come from packages.css: .labels a! */
    }
  }
  &.label-more:hover {
    color: var(--orange-2);
  }
}

span.button {
  cursor: revert;
  &:hover {
    background: var(--background-3);
  }
}
