/* utility classes for consistent buttons */
.button-group {
	display: flex;
	gap: 1ex;
	padding-left: 0;
	margin-bottom: 3px;
	flex-wrap: wrap;
	list-style: none;

	li {
	  display: block;
	  margin: 0;
	  padding: 0;
	}
}

.button {
	all: unset;
	appearance: none;
	display: flex;
	align-items: center;
	gap: 1ex;
	margin: 0;
	padding: .2em .66em;
	border-radius: 3px;
	background: var(--background-darker);
	color: var(--foreground-lighter);
	white-space: nowrap;
	line-height: 1.6;
	cursor: pointer;
	transition: color 0.2s ease-in-out;

	&:hover {
	  color: var(--label-highlight);
	  text-decoration: none;
	}
}
