/* Note: the hover styles only work in Chrome */

.chart-container {
  max-width: 800px;
  margin: 10px 0 18px;

  @media (min-width: 1200px) {
    margin: 0 0 0 26px;
    padding: 26px 0 26px 26px;
    border-left: 1px solid var(--background-4);
    width: 100%;
    float: right;
  }
}

.install-chart {
  svg {
    width: 100%;
    height: auto;
    display: block;
  }

  .axis {
    stroke: var(--foreground-4);
    stroke-linecap: round;
    stroke-width: 1;
  }
  .tick {
    fill: var(--foreground-2);
    font-size: 12px;
  }
  .grid {
    stroke: var(--background-3);
    stroke-linecap: round;
    stroke-width: 1;
    pointer-events: none;
  }

  /* x axis labels */
  .x-month-tick {
    stroke: var(--background-4);
    stroke-linecap: round;
    stroke-width: 1;
  }
  .x-month-label {
    fill: var(--foreground-3);
    font-size: 12px;
    pointer-events: none;
  }
  .x-month-label-dimmed {
    opacity: 0.6;
  }

  /* weekly installs bars  */
  .bar {
    fill: var(--orange-1);
    transition: fill .2s ease-in-out;
  }
  .bar-remove {
    opacity: .6;
  }
  .week:hover .bar,
  .bar:hover {
    fill: var(--orange-2);
  }

  /* upgrades lines and axis */
  .tick-right {
    fill: var(--blue-2);
  }
  .upgrades-line {
    stroke: var(--blue-2);
    stroke-width: 1.4;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .upgrades-point {
    fill: var(--blue-2);
  }
  .upgrades-line,
  .upgrades-point {
    opacity: .6;
    transition: opacity .2s ease-in-out;
  }
  &:has(.upgrades-axis:hover),
  &:has(.upgrades-line:hover),
  &:has(.upgrades-point:hover) {
    .upgrades-line,
    .upgrades-point {
      opacity: 1;
    }
  }

  /* averages */
  .avg-line {
    stroke: var(--orange-2);
    opacity: 0.6;
  }
  .avg-line-inst {
    stroke-width: 1;
    stroke-dasharray: 2 1;
  }
  .avg-line-net {
    stroke-width: 1;
    stroke-dasharray: 2 1;
  }

  /* spacer between the bars */
  .week-slice-bg {
    fill: var(--background-2);
  }
  /* bars behind the weeks */
  .week-slice-hit {
    fill: transparent;
  }
}

.legend {
  font-size: 14px;
  line-height: 26px;
  margin-top: 18px;
  color: var(--foreground-2);

  .color {
    display: inline-block;
    background: var(--orange-1);
    width: 10px;
    height: 10px;
    margin-right: 1ex;
  }
  .color-removal {
    opacity: .6;
  }
  .color-upgrade {
    background: var(--blue-2);
    border-radius: 100%;
  }
}

.chart-container:has(.color-install:hover) .install-chart,
.chart-container:has(.color-removal:hover) .install-chart {
  .bar {
    fill: var(--orange-2);
  }
}
.chart-container:has(.color-upgrade:hover) .install-chart {
  .upgrades-line,
  .upgrades-point {
    opacity: 1;
  }
}
