/*
  Based on color scheme in https://docs.sublimetext.io
  but with slightly tweaked contrast progression,
  and a more contrasty shade of orrange.
*/

:root {
  /* light */
  --background-1: rgb(255, 255, 255); /* white */
  --background-2: rgb(242, 242, 242); /* ..    */
  --background-3: rgb(230, 230, 230); /* ..    */
  --background-4: rgb(222, 222, 222); /* grey  */

  --highlight: rgba(222, 222, 222, 0.3); /* inline code */

  --foreground-1: #45454d; /* black */
  --foreground-2: #616169; /* ..    */
  --foreground-3: #7e7e85; /* grey  */

  --white: #fff;

  --orange-1: #fd971f;
  --orange-2: #f5901d;
  --blue-1: #1ebbfc;
  --blue-2: #1db2f2;
  --green-1: #a0da2c;
  --green-2: #97cf29;
}

:root[data-theme='dark'] {
  /* dark */
  --background-1: rgb(34, 40, 48);
  --background-2: #272e37;
  --background-3: #424c57;
  --background-4: #4f5964;

  --highlight: rgba(101, 117, 133, 0.16); /* inline code */

  --foreground-1: #dadad2;
  --foreground-2: #b8b8b0;
  --foreground-3: #999993;

  --orange-1: #f5901d;
  --orange-2: #fd971f;
  --blue-1: #1db2f2;
  --blue-2: #1ebbfc;
  --green-1: #97cf29;
  --green-2: #a0da2c;
}
