footer {
  padding: 3.5rem 1rem;
  text-align: center;
  color: var(--foreground-2);

  p {
    color: var(--foreground-3);
  }

  nav {
    margin: 14px auto;
    * + * {
      margin-left: 1ex;
    }
  }

  .github-link {
    margin-left: 0.9ex;
    vertical-align: -1px;
    padding: 2px 0px 1px 4px;
    border-radius: 50%;

    &:hover {
      text-decoration: underline rgba(0, 0, 0, 0);
    }
  }
}
