footer {
  padding: 3.2rem 1rem;
  text-align: center;

  p {
    color: var(--foreground-lighter);
  }

  * {
    margin: 0;
    padding: 0;
  }

  nav {
    margin: 1.6rem auto;
    * + * {
      margin-left: 1ex;
    }
  }
}
