.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
  > * {
    display: flex;
    margin: 0;
    padding: 0;
    > * {
      flex: 1;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--background-slightly-darker);
  border: 1px solid var(--background-darker);
  padding: 1rem;
  position: relative;
  transition: border-color .3s ease-in-out;

  &:has(a:hover),
  &:has(a:focus) {
    border-color: var(--primary-accent);
    transition: border-color .1s ease-in-out;
  }

  h3 a {
    color: var(--foreground);
    &:hover {
      text-decoration: none;
      color: var(--foreground-darker);
    }
  }

  h3 {
    padding-top: 0;
    padding-right: 2em;
    margin-top: 0;
    margin-bottom: -6px;

    + * {
      margin-top: 0;
      flex: 1; /* push other content to the end of the card */
    }
  }

  dl {
    position: absolute;
    top: 26px;
    right: 1rem;
    font-size: calc(1rem / 1.33);
    svg {
      width: 12px;
      height: 12px;
    }
  }

  .labels {
    font-size: calc(1rem / 1.33);
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
}
