.grid,
.list {
  gap: 1rem;
  margin: 0;
  padding: 0;

  > * {
    display: flex;
    margin: 0;
    padding: 0;
    > * {
      flex: 1;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.list {
  display: flex;
  flex-direction: column;
}

section:has(.list),
section[name="labels"] {
  max-width: var(--max-line);
  margin-left: auto;
  margin-right: auto;
}

section[name="labels"] .grid {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-template-columns: repeat(3, 1fr);
  li a {
    flex: none;
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background: var(--background-1);
  color: var(--foreground-2);
  border-radius: 6px;
  padding: 1rem;
  position: relative;
  outline: 2px solid transparent;
  transition: outline .1s ease-in-out, background .1s;
  overflow: hidden;

  &:has(h3 a:hover),
  &:has(:focus-visible) {
    outline: 2px solid var(--orange-1);
  }

  h3 {
    color: var(--foreground-3);
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 2px;
    overflow-wrap: anywhere;
  }

  h3 a,
  a[href*="q=author"] {
    color: var(--foreground-1);
    &:hover {
      color: var(--orange-1);
    }
  }

  .authors {
    padding-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  .stats {
    padding: 0;
    margin: 0;
    line-height: 18px;
    font-size: 11px;
    background: inherit;
    color: var(--foreground-3);
    svg {
      width: 12px;
      height: 12px;
    }
  }

  .labels {
    font-size: 13px;
    padding: 0;
    margin: 0;
    a {
      line-height: 20px;
      padding: 1px 6px;
    }
  }

  .button {
    background: var(--background-2);
    &:hover {
      background: var(--background-3);
    }
  }
}

.card-compact {
  .grid & {
    /* stretch cards vertically across the grid cells */
    display: flex;
    flex-direction: column;
  }

  .card-heading {
    flex: 1; /* push other content to the end of the card */
    padding-right: 3.2em;
  }
  &:has(.stats .warning) .card-heading {
    padding-right: 4.8em;
  }
  .authors {
    margin-bottom: 16px;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 18px;
    right: 1rem;
    gap: 0;
  }

  .labels {
    justify-content: flex-end;
    &:has(> .platform-statement-wrap):has(> .package-labels-wrap) {
      display: grid;
      grid-template-columns: max-content minmax(0, 1fr);
      align-items: end;
      column-gap: 7px;

      &:has(> .platform-statement-wrap-enumeration) {
        grid-template-columns: 1fr;
        row-gap: 10px;
      }
    }
    .platform-statement-wrap {
      line-height: 22px;
    }
    .platform-statement {
      display: block;
      line-height: inherit;
    }
    .package-labels-wrap {
      justify-self: end;
      max-width: 100%;
    }
    .package-labels {
      display: flex;
      gap: 7px;
      justify-content: flex-end;
      align-items: end;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.card-result {
  .card-heading {
    padding-right: calc(min(38vw, 18rem) + 1rem);
    position: relative;
  }

  .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 1em;
    row-gap: 0;
    position: absolute;
    right: 0;
    top: 2px;
    width: min(38vw, 18rem);

    .stars {
      order: 1;
    }
    .installs {
      order: 2;
    }
    .platforms {
      display: block;
      flex-basis: 100%;
      order: 3;
      line-height: 1.25;
      white-space: revert;
      text-align: right;
      margin-top: 4px;
    }
  }

  .authors {
    margin-bottom: 14px;
  }
  .description {
    font-size: 1rem;
    max-width: calc(var(--max-line) * 5/6);
    padding: 0;
    margin: 0;
  }
  .labels {
    justify-content: flex-start;
    margin-top: 21px;  /* usually collapses with margin-bottom from .description */
  }
}
