header {
  margin-bottom: 22px;
  padding: 4px var(--side-padding);
  color: var(--foreground-3);

  * {
    margin: 0;
    padding: 0;
  }

  .inner {
    max-width: 92rem;
    margin: 0 auto;
    position: relative;
    display: flex;
  }

  .right-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .brand {
    font-size: 28px;
    line-height: 52px;
    font-weight: bold;

    a {
      color: var(--foreground-2);
    }

    + p {
      margin-top: -6px;
    }
  }


  nav {
    line-height: 21px;
    padding-top: 20px;

    > *:not(:last-child) {
      margin-right: 1.6em;
    }

    svg {
      margin-bottom: -2px;
    }

    [href="/#search-field"] {
      @media (min-width: 901px) {
        display: none;
      }
    }
  }

  form {
    padding: 8px var(--side-padding) 0 0;

    @media (max-width: 900px) {
      display: none;

      &.overlay {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 8px 0 0 0;
        background: var(--background-2);
      }
    }
  }
}
