header {
  margin-bottom: 22px;
  padding: 4px var(--side-padding);
  color: var(--foreground-3);

  .inner {
    max-width: 92rem;
    margin: 0 auto;
    position: relative;
    padding-top: 6px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .brand {
    display: flex;
    gap: 1rem;
    align-items: center;

    a :hover {
      color: var(--foreground-1);
      background: var(--background-3);
      padding: 8px;
      margin: -8px;
      border-radius: 4px;
    }
  }

  .brand-text {
    position: relative;
    top: -6px;
  }

  h2 + p {
    line-height: 1.2em;
  }

  h2 a {
    color: var(--foreground-2);
  }

  nav {
    float: right;
    line-height: 1.33;
    padding-top: 1.33rem;

    * + * {
      margin-left: 1.6em;
    }

    @media (max-width: 480px) {
      [href="/"] {
        display: none;
      }
    }
  }
}
