header {
  margin-bottom: 22px;
  padding: 4px 1rem;
  color: var(--foreground-lighter);

  .inner {
    max-width: 92rem;
    margin: 0 auto;
    position: relative;
  }

  * {
    margin: 0;
    padding: 0;
  }

  h2 + p {
    margin-top: -6px;
  }

  h2 a {
    color: var(--foreground);
  }

  nav {
    float: right;
    line-height: 1.33;
    padding-top: 1.33rem;

    * + * {
      margin-left: 1ex;
    }
  }
}
