:root {
  --label-icon-color-red: var(--red-2);
  --label-icon-color-orange: var(--orange-2);
  --label-icon-color-yellow: var(--orange-2);
  --label-icon-color-green: var(--green-2);
  --label-icon-color-cyan: var(--blue-2);
  --label-icon-color-blue: var(--blue-2);
  --label-icon-color-purple: hsl(275 76% 58%);
  --label-icon-color-pink: hsl(345 76% 58%);
  --label-icon-color-sky: var(--blue-2);
  --label-icon-color-graphite: hsl(245 21% 42%);
}

.label-icon {
  fill: currentColor;
}

.label-icon--orange {
  color: var(--label-icon-color-orange);
}
.label-icon--red {
  color: var(--label-icon-color-red);
}
.label-icon--cyan {
  color: var(--label-icon-color-cyan);
}
.label-icon--graphite {
  color: var(--label-icon-color-graphite);
}
.label-icon--sky {
  color: var(--label-icon-color-sky);
}
.label-icon--green {
  color: var(--label-icon-color-green);
}
.label-icon--yellow {
  color: var(--label-icon-color-yellow);
}
.label-icon--purple {
  color: var(--label-icon-color-purple);
}
.label-icon--blue {
  color: var(--label-icon-color-blue);
}
.label-icon--pink {
  color: var(--label-icon-color-pink);
}
