:root {
  --label-icon-color-red: var(--red-2);
  --label-icon-color-orange: var(--orange-2);
  --label-icon-color-yellow: var(--orange-2);
  --label-icon-color-green: var(--green-2);
  --label-icon-color-cyan: var(--blue-2);
  --label-icon-color-blue: var(--blue-2);
  --label-icon-color-purple: hsl(275 76% 58%);
  --label-icon-color-pink: hsl(345 76% 58%);
  --label-icon-color-sky: var(--blue-2);
  --label-icon-color-graphite: hsl(245 21% 42%);
}

.label-icon {
  fill: currentColor;
}

.label-icon--ai {
  color: var(--label-icon-color-orange);
}
.label-icon--angular {
  color: var(--label-icon-color-red);
}
.label-icon--ansible {
  color: var(--label-icon-color-red);
}
.label-icon--arduino {
  color: var(--label-icon-color-cyan);
}
.label-icon--asciidoc {
  color: var(--label-icon-color-cyan);
}
.label-icon--astro {
  color: var(--label-icon-color-graphite);
}
.label-icon--audio {
  color: var(--label-icon-color-red);
}
.label-icon--azure {
  color: var(--label-icon-color-sky);
}
.label-icon--bazel {
  color: var(--label-icon-color-green);
}
.label-icon--binary {
  color: var(--label-icon-color-graphite);
}
.label-icon--blade {
  color: var(--label-icon-color-orange);
}
.label-icon--bower {
  color: var(--label-icon-color-yellow);
}
.label-icon--c {
  color: var(--label-icon-color-purple);
}
.label-icon--c# {
  color: var(--label-icon-color-blue);
}
.label-icon--c++ {
  color: var(--label-icon-color-sky);
}
.label-icon--cairo {
  color: var(--label-icon-color-graphite);
}
.label-icon--clojure {
  color: var(--label-icon-color-purple);
}
.label-icon--cmake {
  color: var(--label-icon-color-blue);
}
.label-icon--coffeescript {
  color: var(--label-icon-color-orange);
}
.label-icon--composer {
  color: var(--label-icon-color-orange);
}
.label-icon--cpp {
  color: var(--label-icon-color-sky);
}
.label-icon--crystal {
  color: var(--label-icon-color-graphite);
}
.label-icon--css {
  color: var(--label-icon-color-blue);
}
.label-icon--csv {
  color: var(--label-icon-color-green);
}
.label-icon--cuda {
  color: var(--label-icon-color-green);
}
.label-icon--dart {
  color: var(--label-icon-color-cyan);
}
.label-icon--delphi {
  color: var(--label-icon-color-red);
}
.label-icon--diff {
  color: var(--label-icon-color-yellow);
}
.label-icon--dlang {
  color: var(--label-icon-color-red);
}
.label-icon--docker {
  color: var(--label-icon-color-sky);
}
.label-icon--elm {
  color: var(--label-icon-color-cyan);
}
.label-icon--email {
  color: var(--label-icon-color-graphite);
}
.label-icon--ember {
  color: var(--label-icon-color-green);
}
.label-icon--erlang {
  color: var(--label-icon-color-red);
}
.label-icon--eslint {
  color: var(--label-icon-color-purple);
}
.label-icon--excel {
  color: var(--label-icon-color-green);
}
.label-icon--font {
  color: var(--label-icon-color-green);
}
.label-icon--fortran {
  color: var(--label-icon-color-red);
}
.label-icon--git {
  color: var(--label-icon-color-orange);
}
.label-icon--gleam {
  color: var(--label-icon-color-pink);
}
.label-icon--go {
  color: var(--label-icon-color-sky);
}
.label-icon--graphql {
  color: var(--label-icon-color-pink);
}
.label-icon--graphviz {
  color: var(--label-icon-color-cyan);
}
.label-icon--groovy {
  color: var(--label-icon-color-cyan);
}
.label-icon--haml {
  color: var(--label-icon-color-yellow);
}
.label-icon--haskell {
  color: var(--label-icon-color-purple);
}
.label-icon--html {
  color: var(--label-icon-color-orange);
}
.label-icon--http {
  color: var(--label-icon-color-purple);
}
.label-icon--image {
  color: var(--label-icon-color-green);
}
.label-icon--java {
  color: var(--label-icon-color-red);
}
.label-icon--jest {
  color: var(--label-icon-color-red);
}
.label-icon--jq {
  color: var(--label-icon-color-orange);
}
.label-icon--js {
  color: var(--label-icon-color-yellow);
}
.label-icon--json {
  color: var(--label-icon-color-green);
}
.label-icon--jsp {
  color: var(--label-icon-color-purple);
}
.label-icon--jsx {
  color: var(--label-icon-color-blue);
}
.label-icon--julia {
  color: var(--label-icon-color-purple);
}
.label-icon--kdl {
  color: var(--label-icon-color-purple);
}
.label-icon--kotlin {
  color: var(--label-icon-color-blue);
}
.label-icon--less {
  color: var(--label-icon-color-blue);
}
.label-icon--liquid {
  color: var(--label-icon-color-green);
}
.label-icon--lisp {
  color: var(--label-icon-color-red);
}
.label-icon--log {
  color: var(--label-icon-color-graphite);
}
.label-icon--lsl {
  color: var(--label-icon-color-cyan);
}
.label-icon--lua {
  color: var(--label-icon-color-blue);
}
.label-icon--markdown {
  color: var(--label-icon-color-graphite);
}
.label-icon--markup {
  color: var(--label-icon-color-purple);
}
.label-icon--matlab {
  color: var(--label-icon-color-orange);
}
.label-icon--maven {
  color: var(--label-icon-color-red);
}
.label-icon--mdx {
  color: var(--label-icon-color-cyan);
}
.label-icon--nginx {
  color: var(--label-icon-color-green);
}
.label-icon--nim {
  color: var(--label-icon-color-yellow);
}
.label-icon--nodejs {
  color: var(--label-icon-color-green);
}
.label-icon--note {
  color: var(--label-icon-color-green);
}
.label-icon--npm {
  color: var(--label-icon-color-red);
}
.label-icon--nsis {
  color: var(--label-icon-color-purple);
}
.label-icon--ocaml {
  color: var(--label-icon-color-yellow);
}
.label-icon--odin {
  color: var(--label-icon-color-blue);
}
.label-icon--parquet {
  color: var(--label-icon-color-sky);
}
.label-icon--pawn {
  color: var(--label-icon-color-orange);
}
.label-icon--pdf {
  color: var(--label-icon-color-red);
}
.label-icon--perl {
  color: var(--label-icon-color-graphite);
}
.label-icon--php {
  color: var(--label-icon-color-blue);
}
.label-icon--postcss {
  color: var(--label-icon-color-red);
}
.label-icon--powershell {
  color: var(--label-icon-color-blue);
}
.label-icon--preferences {
  color: var(--label-icon-color-yellow);
}
.label-icon--prisma {
  color: var(--label-icon-color-graphite);
}
.label-icon--protobuf {
  color: var(--label-icon-color-graphite);
}
.label-icon--pug {
  color: var(--label-icon-color-yellow);
}
.label-icon--puppet {
  color: var(--label-icon-color-purple);
}
.label-icon--python {
  color: var(--label-icon-color-yellow);
}
.label-icon--qt {
  color: var(--label-icon-color-green);
}
.label-icon--r {
  color: var(--label-icon-color-blue);
}
.label-icon--racket {
  color: var(--label-icon-color-red);
}
.label-icon--rails {
  color: var(--label-icon-color-red);
}
.label-icon--react {
  color: var(--label-icon-color-sky);
}
.label-icon--restructuredtext {
  color: var(--label-icon-color-sky);
}
.label-icon--ruby {
  color: var(--label-icon-color-red);
}
.label-icon--rust {
  color: var(--label-icon-color-sky);
}
.label-icon--sass {
  color: var(--label-icon-color-pink);
}
.label-icon--scala {
  color: var(--label-icon-color-red);
}
.label-icon--scheme {
  color: var(--label-icon-color-graphite);
}
.label-icon--scss {
  color: var(--label-icon-color-pink);
}
.label-icon--settings {
  color: var(--label-icon-color-graphite);
}
.label-icon--shell {
  color: var(--label-icon-color-green);
}
.label-icon--slim {
  color: var(--label-icon-color-cyan);
}
.label-icon--solidity {
  color: var(--label-icon-color-graphite);
}
.label-icon--source {
  color: var(--label-icon-color-sky);
}
.label-icon--sql {
  color: var(--label-icon-color-blue);
}
.label-icon--stata {
  color: var(--label-icon-color-sky);
}
.label-icon--stylus {
  color: var(--label-icon-color-green);
}
.label-icon--svelte {
  color: var(--label-icon-color-orange);
}
.label-icon--svg {
  color: var(--label-icon-color-orange);
}
.label-icon--swift {
  color: var(--label-icon-color-orange);
}
.label-icon--systemverilog {
  color: var(--label-icon-color-blue);
}
.label-icon--tailwind {
  color: var(--label-icon-color-cyan);
}
.label-icon--terraform {
  color: var(--label-icon-color-purple);
}
.label-icon--tex {
  color: var(--label-icon-color-blue);
}
.label-icon--text {
  color: var(--label-icon-color-yellow);
}
.label-icon--textile {
  color: var(--label-icon-color-pink);
}
.label-icon--todo {
  color: var(--label-icon-color-green);
}
.label-icon--toml {
  color: var(--label-icon-color-cyan);
}
.label-icon--travis {
  color: var(--label-icon-color-orange);
}
.label-icon--twig {
  color: var(--label-icon-color-green);
}
.label-icon--typescript {
  color: var(--label-icon-color-sky);
}
.label-icon--typst {
  color: var(--label-icon-color-cyan);
}
.label-icon--unreal {
  color: var(--label-icon-color-graphite);
}
.label-icon--v {
  color: var(--label-icon-color-cyan);
}
.label-icon--vala {
  color: var(--label-icon-color-sky);
}
.label-icon--verilog {
  color: var(--label-icon-color-blue);
}
.label-icon--vhdl {
  color: var(--label-icon-color-blue);
}
.label-icon--vim {
  color: var(--label-icon-color-green);
}
.label-icon--vue {
  color: var(--label-icon-color-cyan);
}
.label-icon--vyper {
  color: var(--label-icon-color-graphite);
}
.label-icon--wast {
  color: var(--label-icon-color-purple);
}
.label-icon--webpack {
  color: var(--label-icon-color-blue);
}
.label-icon--wgsl {
  color: var(--label-icon-color-sky);
}
.label-icon--windows {
  color: var(--label-icon-color-sky);
}
.label-icon--wit {
  color: var(--label-icon-color-pink);
}
.label-icon--yaml {
  color: var(--label-icon-color-yellow);
}
.label-icon--yarn {
  color: var(--label-icon-color-blue);
}
.label-icon--zig {
  color: var(--label-icon-color-yellow);
}
