html.page-package {
  overflow-y: scroll;
}

.package-title {
  padding-top: 12px;
  margin-bottom: 16px;
  display: inline-table;

  h1 {
    display: inline;
    margin-right: 0.3rem;
    padding-top: 0;
    margin-bottom: 0;

    &::after {
      content: "\00A0"; /* non-breaking space after heading text */
    }
  }
  .clipboard-button {
    display: inline-flex;
    font-size: 14px;
    position: relative;
    top: -12px;  /* vertical-align: super; isn't sufficient :-( */
  }
}

.description {
  font-size: 21px;
  line-height: 28px;
  padding-top: 8px;
  margin-bottom: 20px;
  font-style: italic;

  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }

  &:empty {
    display: none;
  }
}

.package-metadata {
  padding-top: 10px;
  margin-bottom: 18px;
}

.package-byline {
  padding: 0;
  margin: 0;
}

.package-timeline {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.download {
  color: var(--foreground-2);
  vertical-align: -1px;
  margin-left: 2px;

  &:hover {
    color: var(--orange-2);
  }
}

.download-notes-sep {
  vertical-align: 0px;
  margin: 0 1px 0 1px;
  color: var(--foreground-3);
}

.release {
  font-weight: bold;
}

.requirement {
  color: var(--foreground-2);
  margin: 0 1px 0 0px;
  vertical-align: 0px;
  font-size: 14px;
}

ul.stats {
  list-style: none;
  display: flex;
  gap: 1em;
  align-content: center;
  align-items: baseline;
  line-height: 28px;
  padding-left: 0;
  color: var(--foreground-2);

  > * {
    display: flex;
    margin: 0;
  }

  svg {
    margin-right: 1ex;
  }

  a {
    color: inherit;
  }
}

section[name="package"] > ul.stats .platforms {
  max-width: 60%;
}

.package-labels {
  @media (width < 80rem) {
    display: flex;
    align-items: flex-start;
    gap: 0.9rem 2.5rem;
    flex-wrap: wrap;
    margin-bottom: 25px;

    > .button-group.labels {
      margin-bottom: 0;
    }

    > .label-normalization-note {
      flex: 1 1 20rem;
      margin-top: 3px;
    }
  }
}

.label-normalization-note {
  color: var(--foreground-2);
  font-size: 14px;
  line-height: 22px;
  margin-top: -12px;

  p,
  ul {
    font-size: inherit;
    line-height: inherit;
    padding-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 2px;
  }

  code {
    background: color(srgb 0.75 0.75 0.76 / 0.3);
    white-space: nowrap;

    :root[data-theme='dark'] & {
      background: color(srgb 0.33 0.33 0.39 / 0.3);
    }
  }
}

.other-releases {

  summary {
    margin-bottom: 0px;
    padding: 0;
    outline-offset: 8px;
    margin-top: 28px;
    color: var(--foreground-1);
    outline-color: var(--orange-1);
    width: fit-content;
  }
  &:open summary {
    width: revert;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 1.4rem;
    overflow-x: auto;
    margin: 0;
    padding-left: 0;
    padding-top: 6px;

    li {
      margin: 0px 0 16px 0;
      min-width: max-content;
      padding: 0px 8px 2px;
      border-radius: 3px;
      margin-left: -6px;
      margin-right: 6px;

      .download svg {
        width: 14px;
        height: 14px;
        vertical-align: baseline;
      }

      .requirement {
        display: block;
        margin-bottom: -4px;
      }
    }
  }
}

.labels {
  a,
  span {
    box-sizing: border-box;
    padding: 2px 6px;
    border: 1px solid transparent;
    &.state {
      background: inherit;
      border-color: var(--orange-2);
      color: var(--orange-2);
      &:hover {
        background: rgb(from var(--orange-1) r g b / 0.12);
      }
    }
    &.state-bad {
      border-color: var(--red-2);
      color: var(--red-2);
      &:hover {
        background: rgb(from var(--red-1) r g b / 0.12);
      }
    }
    &.state-failing {
      border-color: var(--state-failing-border-color);
      color: var(--state-failing-text-color);
      &:hover {
        background: rgb(from var(--state-failing-text-color) r g b / 0.12);
      }
    }
    &.platform-macos,
    &.platform-macos-x64 {
      background: var(--blue-1);
      color: var(--white);
      &:hover {
        background: var(--blue-2);
      }
      &.is-active {
        background: var(--blue-2);
        &:hover {
          background: var(--blue-1);
        }
        :root[data-theme='dark'] & {
          background: var(--blue-1);
          &:hover {
            background: var(--blue-2);
          }
        }
      }
    }
    &.platform-windows,
    &.platform-windows-x32,
    &.platform-windows-x64 {
      background: var(--orange-1);
      color: var(--white);
      &:hover {
        background: var(--orange-2);
      }
      &.is-active {
        background: var(--orange-2);
        &:hover {
          background: var(--orange-1);
        }
        :root[data-theme='dark'] & {
          background: var(--orange-1);
          &:hover {
            background: var(--orange-2);
          }
        }
      }
    }
    &.platform-linux,
    &.platform-linux-x32,
    &.platform-linux-x64,
    &.platform-linux-arm64 {
      background: var(--green-1);
      color: var(--white);
      &:hover {
        background: var(--green-2);
      }
      &.is-active {
        background: var(--green-2);
        &:hover {
          background: var(--green-1);
        }
        :root[data-theme='dark'] & {
          background: var(--green-1);
          &:hover {
            background: var(--green-2);
          }
        }
      }
    }
  }

  a svg {
    width: 16px;
    height: 16px;
  }
}

.warning-message {
  padding: 1.6em;
  border-radius: 6px;
  background: var(--warning-message-background);
  border: 1px solid var(--warning-message-border);
  margin: 18px auto 8px auto;
  text-align: center;
  max-width: 32rem;
  overflow-wrap: anywhere;
  svg {
    color: var(--red-1);
    width: 24px;
    height: 24px;
  }
  h2 {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
  p {
    text-align: left;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 0;
  }
}
