.description {
  font-size: 21px;
  line-height: 26px;
  padding-top: 6px;
  margin-bottom: 20px;
  font-style: italic;

  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }
}

.release {
  font-weight: bold;
}

.requirement {
  color: var(--foreground-3);
}

ul.stats {
  list-style: none;
  display: flex;
  gap: 1em;
  align-content: center;
  align-items: center;
  line-height: 26px;
  padding-left: 0;
  color: var(--foreground-2);

  > * {
    display: flex;
    margin: 0;
  }

  svg {
    margin-right: 1ex;
    margin-bottom: -1px;
  }
}

.labels {
  a,
  span {
    &.platform {
      background: var(--blue-1);
      color: var(--white);
      &:hover {
        background: var(--blue-2);
      }
    }
    &.platform-windows,
    &.platform-windows-x32,
    &.platform-windows-x64 {
      background: var(--orange-1);
      &:hover {
        background: var(--orange-2);
      }
    }
    &.platform-linux,
    &.platform-linux-x32,
    &.platform-linux-x64,
    &.platform-linux-arm64 {
      background: var(--green-1);
      &:hover {
        background: var(--green-2);
      }
    }
  }
}

.warning-message {
  padding: 1.6em;
  border-radius: 6px;
  background: var(--background-1);
  margin: 18px auto 8px auto;
  text-align: center;
  max-width: 32rem;
  overflow-wrap: anywhere;
  svg {
    color: var(--red-1);
    width: 32px;
    height: 32px;
  }
  h2 {
    font-size: 21px;
    line-height: 26px;
  }
}
