.pagination {
  text-align: center;
  margin: 3.2rem 0 1.6rem 0;
  color: var(--foreground-2);
}

.pagination-controls {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.6rem;

  .button {
    background: var(--background-3);
    &:hover:not(:disabled) {
      background: var(--background-4);
    }

    /* disabled because it's the current page */
    &:disabled {
      background: var(--orange-1);
      color: var(--white);
      border-color: var(--orange-1);
      opacity: 1;
    }
  }
}

.pagination-ellipsis {
  padding: 0 1ex;
}


/* horizontal pager << < > >> , with date/month indicator */

.pager-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.pager-pagination {
  display: flex;
  align-items: center;
  align-self: end;
  gap: 1rem;
  position: relative;
  top: -15px;

  .button-group {
    display: flex;
    gap: 0.2ex;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  .button {
    background: transparent;

    &:enabled:hover,
    &:enabled:focus-visible {
      background: var(--background-4);
    }

    .pager-nav-symbol {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }

  .date-indicator {
    margin-left: 0.5rem;
    color: var(--foreground-3);
    font-size: 14px;
  }
}
