.readme {
  margin-top: calc(var(--grid-line) * 1.5);
  padding: var(--grid-line) calc(var(--side-padding) * 3.5);
  border-radius: 6px;
  background: var(--background-1);

  max-width: var(--max-line);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 800px) {
    padding: 14px calc(var(--side-padding) * 2);
  }

  &:empty {
    display: none;
  }

  h2,
  h3 {
    color: inherit;
  }

  /* increase density around paragraphs */
  p, ul, ol, summary {
    padding-top: 0;
    margin-bottom: 14px; /* half a gridline */
    ul, ol {
      margin-bottom: 0;
    }
  }

  img, video {
    max-width: 100% !important;
    height: auto;
  }

  code {
    background: var(--highlight);
  }

  pre {
    border-radius: 6px;
    background: var(--highlight);
  }
  pre.fallback {
    background: var(--background-1);
  }
  pre code {
    background: transparent;
  }

  kbd {
    display: inline-block;
    border: 1px solid var(--background-3);
    border-radius: 6px;
    line-height: 1.4rem;
    padding: 0px 4px;
    box-shadow: inset 0px -1px 0px var(--background-1);
    background: var(--highlight);
  }

  table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 14px;

    tr:nth-child(2n) {
      background: rgb(from var(--background-2) r g b / 0.3);
    }

    td {
      border: 1px solid var(--background-3);
      padding: 6px 13px;
    }
  }

  a {
    color: var(--foreground-1);
    text-decoration-color: var(--foreground-4);
    text-underline-offset: 4px;
    transition: color .1s ease-in-out, outline .1s ease-in-out, text-decoration-color .1s ease-in-out;

    :root[data-theme='dark'] & {
      text-decoration-color: var(--foreground-2);

      &:hover {
        text-decoration-color: var(--orange-2);
      }
    }

    &:hover {
      color: var(--orange-2);
      text-decoration-color: var(--orange-2);
    }
  }

  .markdown-alert {
    border-left: 4px solid var(--foreground-2);
    padding-left: 1em;

    &.markdown-alert-note,
    &.markdown-alert-tip,
    &.markdown-alert-important,
    &.markdown-alert-warning,
    &.markdown-alert-caution {
      border-left-color: hsl(183.19deg 75.11% 44.29%);

      :root[data-theme='dark'] & {
      }
    }

    .markdown-alert-title {
      font-weight: 700;

      &:after {
        content: ':';
      }
    }
  }

  h1, h2, h3, h4 {
    position: relative;
    padding-left: 1.3em;
    margin-left: -1.3em;

    &:hover, &:focus-within {
      .markdown-anchor {
        opacity: 1;
      }
    }
  }

  .markdown-anchor {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 6px;
    color: hsl(240deg 6.3% 43.09%);
    color: var(--foreground-2);
    width: 1em;
    height: 1em;
    text-decoration: none;
  }
}
