.readme {
  margin-top: 3.2rem;
  padding: var(--side-padding) calc(var(--side-padding) * 2);
  border-radius: 6px;
  background: var(--background-1);

  h1,
  h2,
  h3,
  p,
  li {
    max-width: var(--max-line);
  }

  &:empty {
    display: none;
  }

  img, video {
    max-width: 100% !important;
    height: auto;
  }

  code {
    background: var(--highlight);
  }

  pre {
    border-radius: 6px;
    background: var(--background-2);
  }
  pre code {
    background: var(--background-2);
  }
}
