.readme {
  margin-top: 3.2rem;
  padding: var(--side-padding) calc(var(--side-padding) * 2);
  border-radius: 6px;
  background: var(--background-1);

  &:empty {
    display: none;
  }

  img, video {
    max-width: 100% !important;
    height: auto;
  }

  code {
    background: var(--highlight);
  }

  pre {
    border-radius: 6px;
    background: var(--background-2);
  }
  pre code {
    background: var(--background-2);
  }

  kbd {
    display: inline-block;
    border: 1px solid var(--background-3);
    border-radius: 6px;
    line-height: 1.4rem;
    padding: 0px 4px;
    box-shadow: inset 0px -1px 0px var(--foreground-4);
    background: var(--highlight);
  }
}
