input {
  background: var(--background-1);
  color: var(--foreground-1);
  border: 1px solid var(--background-3);
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 11px;
  font-size: 1rem;
  line-height: 1.6;
}

select {
  appearance: none;
  all: unset;
  background: var(--background-1);
  color: var(--foreground-1);
  border: 1px solid var(--background-3);
  border-radius: 3px;
  padding: 8px;
  font-size: 1rem;
  line-height: 1.6;
  cursor: pointer;
}

.search-controls {
  display: flex;
  align-items: stretch;
  margin-bottom: 11px;
  background: var(--background-1);
  border-radius: 3px;
  border: 1px solid var(--background-3);
  transition: border .2s ease-in-out, outline .2s ease-in-out;

  &:has(input:focus) {
    border-color: var(--orange-1);
    outline: 1px solid var(--orange-1);
  }

  label {
    color: var(--foreground-3);
  }

  input {
    flex: 1;
    margin-bottom: 0;
    border: none;
    &:focus {
      outline: none;
    }
  }

  select {
    padding: 0;
    background: transparent;
    border: none;
  }

  .button {
    align-self: center;
    margin: 6px;

    &:has(select:focus) {
      outline: 2px solid var(--orange-1);
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      label {
        font-size: 0.8em;
        line-height: 1;
      }
    }
  }
}
